body {
  background: #e5e5e5;
}

.hex {
  color: #6070ff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.fonts {
  font-family: sans-serif, "Poppins";
  font-style: normal;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .main-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
  }

  .logo-place {
    margin-left: 12px;
  }

  .my-logo {
    padding: 10px 12px 10px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .nav-menues {
    display: none;
  }

  .headline {
    flex: 1 1 auto;
    background-image: url("images/header-shapes-mobile.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .headline > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: 102px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social-media {
    display: flex;
    width: 170.17px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 136px;
    list-style-type: none;
    text-align: left;
    padding-left: initial;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-items {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .project-1 {
    margin-top: 114px;
  }

  .other-projects {
    margin-top: 88px;
  }

  .project-img {
    border-radius: 8px;
    width: auto;
  }

  .details {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .details h3 {
    margin: initial;
    padding: initial;
  }

  .details ul {
    margin: initial;
    padding: initial;
  }

  .details ul li {
    margin: initial;
    padding: initial;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
  }

  .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .bullets {
    font-weight: 600;
    line-height: 16px;
    color: #7a869a;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    display: inline-block;
  }

  .canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .grid-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .grid-items .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .grid-items .categories li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see-project {
    width: 295px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .contact-me button {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
    width: 142px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    margin-top: 22px;
    margin-bottom: 45px;
    padding: 12px 16px;
    border: 1px solid #6070ff;
  }

  .see-project button {
    padding: 12px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 100px;
    margin-top: 114px;
  }

  .about-myself > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .myslef {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 114px;
    margin-bottom: initial;
  }

  .about-myself .text {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .connect {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .social-media {
    padding-bottom: 12px;
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project button {
    width: 162px;
    height: 48px;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .languages-list {
    margin: initial;
    margin-right: 36px;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 251.85px;
  }

  .lang-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
  }

  .land-span {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .languages-list .lang {
    display: flex;
    list-style-type: none;
    width: auto;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 12px initial;
    padding: 9px;
    align-items: center;
  }

  .contact-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .languages-list .lang p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-left: 16px;
  }

  .frameworks {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .langusge {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .sign {
    padding-right: 20px;
  }

  /* The contact form  */

  .contact-me {
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    margin-top: -114px;
    background-image: url("images/contactform-shapes-mobile.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 265px 709px;
  }

  .contact-me > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .contact-me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 103px;
    margin-bottom: initial;
    color: #fff;
    text-align: center;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
  }

  .contact-me input {
    height: 18px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-top: 20px;
  }

  .contact-me textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding: 15px 38px 15px 16px;
    height: 170px;
    margin-top: 18px;
    margin-bottom: 22px;
    resize: none;
  }
}

@media only screen and (min-width: 768px) {
  .icons {
    display: none;
  }

  .main-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
    width: 100%;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-right: 142px;
    margin-left: 143px;
  }

  .my-logo {
    padding: 10px 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .nav-menues {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 10px;
  }

  .nav-menues a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-menues li {
    padding: 10px 12px;
    align-items: center;
    text-align: center;
  }

  /* Header section */

  .headline {
    flex: 1 1 auto;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1397.4px 721.46px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 288px;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 255px;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin: initial;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: initial;
  }

  .connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: initial;
  }

  .social-media {
    display: flex;
    width: 170.17px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    text-align: left;
    padding-left: initial;
    margin: initial;
  }

  /* Work section */

  .works {
    display: grid;
    grid-template-columns: auto;
    margin-top: 142px;
  }

  .grid-items {
    display: flex;
    align-items: left;
    gap: 46px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 142px;
    margin-left: 142px;
    margin-right: 142px;
    margin-top: initial;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .project-img {
    border-radius: 8px;
    min-width: 544px;
  }

  #project-1 {
    content: url("images/projects/d-project-1.png");
  }

  #project-2 {
    content: url("images/projects/d-project-2.png");
  }

  #project-3 {
    content: url("images/projects/d-project-3.png");
  }

  #project-4 {
    content: url("images/projects/d-project-4.png");
  }

  .details {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .details h3 {
    padding: initial;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .details ul {
    margin: initial;
    padding: initial;
  }

  .details ul li {
    margin: initial;
    padding: initial;
  }

  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .canopy .o-li {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .bullets {
    font-weight: 600;
    line-height: 16px;
    color: #7a869a;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    display: inline-block;
  }

  .canopy :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .grid-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .grid-items .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .grid-items .categories li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see-project {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 116px;
  }

  .contact-me button {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
    width: 124px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #6070ff;
  }

  .see-project button {
    padding: 12px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  /* last page */

  .about-myself {
    background-color: #fff;
    display: flex;
    border-top-right-radius: 100px;
    padding-left: 142px;
    padding-right: 142px;
    padding-top: 142px;
  }

  .myslef {
    display: flex;
    flex-direction: column;
    max-width: 447px;
    gap: 12px;
  }

  .about {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-bottom: initial;
  }

  .about-myself .text {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .connect {
    margin-top: initial;
    padding-bottom: 12px;
    padding-top: 8px;
  }

  .about-myself .social-media {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project {
    margin-bottom: initial;
    margin-top: 22px;
  }

  .about-myself .see-project button {
    width: 162px;
    height: 48px;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .languages-list {
    margin: initial;
    margin-right: 36px;
    min-width: 684px;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 251.85px;
  }

  .lang-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
  }

  .land-span {
    display: flex;
    gap: 12px;
  }

  .languages-list .lang {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 122px;
    background: #f7f7f9;
    border-radius: 8px;
    padding: 9px;
    text-align: left;
    gap: 16px;
  }

  .languages-list .lang img {
    max-width: 48px;
  }

  .contact-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .languages-list .lang p {
    margin: initial;
    text-align: left;
    padding-left: initial;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-bottom: 20px;
  }

  .frameworks {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .langusge {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .sign {
    padding-right: 20px;
  }

  /* The contact form  */

  .contact-me {
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    margin-top: -114px;
    background-image: url("images/contact-form-background-shapes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1290px 718px;
    text-align: center;
  }

  .contact-me > * {
    padding-left: 320px;
    padding-right: 319px;
  }

  .c-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-me h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 142px;
    color: #fff;
    text-align: center;
    margin-bottom: initial;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
  }

  .contact-me input {
    height: 18px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin-bottom: 27px;
  }

  .contact-me textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding: 15px 38px 15px 16px;
    height: 170px;
    margin-bottom: 27px;
    resize: none;
  }

  .btn-submit {
    margin-bottom: 127px;
    width: 100%;
    text-align: center;
  }
}
