body {
  background: #e5e5e5;
}

.hex {
  color: #6070ff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .main-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100px;
  }

  .toolbar {
    flex: 1 1 auto;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
  }

  .logo-place {
    margin-left: 12px;
  }

  .my-logo {
    padding: 10px 12px 10px 12px;
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  .headline {
    flex: 1 1 auto;
    background-image: url("images/header-shapes-mobile.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .headline > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .headline h1 {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: 102px;
  }

  .text {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .connect {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social-media {
    display: flex;
    width: 170.17px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 136px;
    list-style-type: none;
    text-align: left;
    padding-left: initial;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-items {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .project-1 {
    margin-top: 114px;
  }

  .other-projects {
    margin-top: 88px;
  }

  .project-img {
    border-radius: 8px;
    width: auto;
  }

  .details {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .details h3 {
    margin: initial;
    padding: initial;
  }

  .details ul {
    margin: initial;
    padding: initial;
  }

  .details ul li {
    margin: initial;
    padding: initial;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
  }

  .project-title {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .canopy .o-li {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .bullets {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #7a869a;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    display: inline-block;
  }

  .canopy :first-child {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .grid-items p {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .grid-items .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .grid-items .categories li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see-project {
    width: 295px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .see-project button {
    padding: 12px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 100px;
    margin-top: 114px;
  }

  .about-myself > * {
    margin-left: 24px;
    margin-right: 24px;
  }

  .about {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 114px;
    margin-bottom: initial;
  }

  .about-myself .text {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .connect {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .social-media {
    padding-bottom: 12px;
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project {
    margin-top: initial;
    margin-bottom: initial;
  }

  .about-myself .see-project button {
    width: 162px;
    height: 48px;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .languages-list {
    margin: initial;
    margin-right: 36px;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 113.85px;
  }

  .lang-title {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
  }

  .languages-list .lang {
    display: flex;
    list-style-type: none;
    width: auto;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 12px initial;
    padding: 9px;
    align-items: center;
  }

  .languages-list .lang p {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    padding-left: 16px;
  }

  .frameworks {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e6;
  }

  .langusge {
    font-family: sans-serif, "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .sign {
    padding-right: 20px;
  }
}
